*.py[cod]
.cache
.ropeproject
*.sublime-*
.python-version

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Sphinx
docs/_build

# Django
*.sqlite3
