include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include src/cid *.html *.png *.gif *js *.css *jpg *jpeg *svg *py

prune docs
prune requirements
prune sandbox
prune tests

exclude Makefile
exclude conftest.py
exclude pyproject.toml
exclude .readthedocs.yaml