include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include cid *.html *.png *.gif *js *.css *jpg *jpeg *svg *py

graft docs
prune requirements
prune sandbox
prune tests

exclude Makefile
exclude conftest.py
exclude pyproject.toml